<!DOCTYPE html>
{%extends 'MyApps1/base.html'%}
{%block body_block%}
    <div class="jumbotron">
        <div align='left'>
            <h1>Welcome to Aptitude Exams!!!</h1>
            <hr />
            <ul>
                <li>The cost of ten apples, eight kiwis and 12 papaya is ₹240</li>
                <li>Two numbers are in the ratio 5:4</li>
                <li>Ram, Shyam and Poorav can complete a piece of work in 10, 15 and 30 days</li>
                <li>In how many ways can you arrange the letter of the words “WOOLLEN”?</li>
            </ul>
            <h3>Exam Ends</h3>
        </div>
    </div>
{%endblock%}