<!DOCTYPE html>
{%extends 'MyApps1/base.html'%}
{%block body_block%}
    <div class="jumbotron">
        <div align='left'>
            <h1>Welcome to Java Exams!!!</h1>
            <hr />
            <ul>
                <li> What do you know about Java?</li>
                <li>What are the supported platforms by Java Programming Language?</li>
                <li>List any five features of Java?</li>
                <li>Why is Java Architectural Neutral?</li>
                <li>How Java enabled High Performance?</li>
                <li>Why Java is considered dynamic?</li>
                <li>What is Java Virtual Machine and how it is considered in context of Java’s platform independent feature?</li>
                <li>List two Java IDE’s?</li>
                <li>List some Java keywords(unlike C, C++ keywords)?</li>
            </ul>
            <h3>Exam Ends...</h3>
        </div>
    </div>
{%endblock%}