<!DOCTYPE html>
{%extends 'MyApps1/base.html'%}
{%block body_block%}
    <div class="jumbotron">
        <div align='left'>
            <h1>Welcome to PYTHON Exams!!!</h1>
            <hr />
            <ul>
                <li>What is the difference between list and tuples in Python?</li>
                <br/>
                <li>What are the key features of Python?</li>
                <br/>
                <li>What type of language is python?</li>
                <br/>
                <li>How is Python an interpreted language?</li>
                <br/>
                <li>What is pep 8?</li>
                <br/>
                <li>How is memory managed in Python?</li>
                <br/>
                <li>What is name space in Python?</li>
                <br/>
                <li>What is PYTHON PATH?</li>
                <br/>
                <li>What are python modules?</li>
                <br/>
                <li>What are local variables and global variables in Python?</li>
            </ul>
            <h4>Exam Ends...</h4>
        </div>
    </div>
{%endblock%}
